<h1>
  <%= book.title %>
</h1>

<table>
  <tbody>
    <tr>
      <td>
        Slug
      </td>
      <td>
        <%= book.slug %>
      </td>
    </tr>
    <tr>
      <td>
        View in store
      </td>
      <td>
        <%= link_to "click here", book_path(book.slug) %>
      </td>
    </tr>
    <tr>
      <td>
        PDF content
      </td>
      <td>
        <%=
          link_to_if(
            book.content_pdf.present?,
            "download",
            download_pdf_admin_book_path(book)
          )
        %>
      </td>
    </tr>
    <tr>
      <td>
        EPUB content
      </td>
      <td>
        <%=
          link_to_if(
            book.content_epub.present?,
            "download",
            download_epub_admin_book_path(book)
          )
        %>
      </td>
    </tr>
    <tr>
      <td>
        MOBI content
      </td>
      <td>
        <%=
          link_to_if(
            book.content_mobi.present?,
            "download",
            download_mobi_admin_book_path(book)
          )
        %>
      </td>
    </tr>
  </tbody>
</table>
