<% content_for :title, "Cart" %>
<h1>
  Your cart
</h1>

<div class="inner-frame">
<% if cart.items.present? %>
  <table>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Action</th>
    </tr>


    <% cart.items.each do |item| %>
      <tr>
        <td>
          <%= item.display_name %>
        </td>
        <td>
          <%= humanized_money_with_symbol(item.price) %>
        </td>
        <td class="tiny">
          <%=
            link_to(
              "remove",
              cart_remove_path(product_id: item.product_id),
              method: :delete,
              id: "test-remove-from-cart-#{item.product_id}"
            )
          %>
      </td>
      </tr>
  </table>
<% end %>

  <p>
    <b>Total:</b> <%= humanized_money_with_symbol(cart.total) %>
  </p>

  <%= form_tag(payments_pay_path, method: :post, id: "test-stripe-payment") do %>
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key=<%= ENV.fetch("STRIPE_PUBLISHABLE_KEY") %>
      data-amount=<%= cart.total.cents %>
      data-currency=<%= cart.total.currency %>
      data-name="Confessions"
      data-locale="auto">
    </script>
  <% end %>
<% else %>
  <p>
    Your cart is empty.
  </p>
<% end %>
<p class="small-caps">
  No risk. 100% Money Back Guarantee
</p>

</div>
