<% if article.errors.any? %>
  There were some problems with sending your message:
  <ul>
    <% article.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= form_for [:admin, article] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br/>
  <%= f.label :slug %>
  <%= f.text_field :slug %>
  <br/>
  <%= f.label :subtitle %>
  <%= f.text_field :subtitle %>
  <br/>
  <%= f.label :short_description %>
  <%= f.text_field :short_description %>
  <br/>
  <%= f.label :main_image %>
  <%= f.text_field :main_image %>
  <br/>
  <%= f.label :published %>
  <%= f.check_box :published %>
  <p>If left unticked, the article will be created on the front-end but not linked to, effectively making it unpublished.</p>
  <br/>
  <%= f.label :all_tags %>
  <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
  <br/>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= render "layouts/epiceditor", element_id: "article_body" %>
  <br/>
  <%= f.submit "Send" %>
<% end %>
