<% content_for :title, article.title %>
<div class="inner-frame">
  <div class="article">
    <h1><%= article.title %></h1>
    <h2><%= article.subtitle %></h2>

    <%= render "layouts/sharing_buttons" %>

    <%= render "rich_snippets", article: article %>

    <%#including this here for the sake of Safari reader%>
    <article>
      <%= MarkdownWrapper.new.display(article.body) %>
    </article>

    <hr>
    <h2> More Articles:</h2>
    <div class="article__list">
      <% related_articles.each do |article| %>
        <div class="article__item">
          <h3><%= link_to article.title, article_path(article.slug) %></h3>
          <p><%= article.subtitle %> </p>
          <% unless related_articles.last == article %>
            <hr>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
