<h1><%= article.title %></h1>
<h2><%= article.subtitle %></h2>

<%= render "layouts/sharing_buttons" %>
<%= MarkdownWrapper.new.display(article.body) %>

<p>
  <%= link_to "View All", articles_path %>
</p>
