<h1>
  Your order details
</h1>

<%= render "tweet_button" %>

<% if order.watermarked_books.size < order.books.size %>
  <p>
    Our software is preparing the very latest version of the files for you "fresh off the press". This process usually takes about one minute. Once done, this page will automatically refresh. While you are waiting, tweet about us, check Facebook, or grab a coffee.
  </p>
  <p>You can download your files again at any time through the link we sent you over email.</p>
  <script type="text/javascript">
    setTimeout(function(){
       window.location.replace("<%= order_path(order) %>");
    }, 10000);
  </script>
<% end %>

<ul>
  <% order.watermarked_books.each do |book| %>
    <li>
      <b><%= book.title %></b>:
      <ul>
        <li>
          <%=
            link_to(
              "Download PDF",
              download_pdf_order_watermarked_book_path(order, book)
            )
          %>
        </li>
        <li>
          <%=
            link_to(
              "Download EPUB",
              download_epub_order_watermarked_book_path(order, book)
            )
          %>
        </li>
        <li>
          <%=
            link_to(
              "Download MOBI",
              download_mobi_order_watermarked_book_path(order, book)
            )
          %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>

<hr>
<p>
  <%= button_to "Ask for invoice", new_order_invoice_request_path(order), method: :get %>
</p>
