<h1>
  <%= book.title %>
</h1>

<p>
  Price: <%= humanized_money_with_symbol(book.product.price) %>
</p>

<%= button_to "Add to cart", cart_add_path(product_id: book.product.id) %>

<%= render "books/contents/#{book.partial_name}" %>

<h2>Free previews</h2>

<ul>
  <% chapters.each do |chapter| %>
    <li>
      <%=
        link_to(
          "Chapter #{chapter.number} - #{chapter.title}",
          book_chapter_path(book.slug, chapter.slug)
        )
      %>
    </li>
  <% end %>
</ul>

<h2>Frequently Asked Questions</h2>
<ul>
  <li>
    <span>What is your refund policy?</span>
    We offer a 100% no-questions-asked refund. <%= link_to "Email customer support", new_customer_support_request_path %> to put your refund through. Please note it may take us a few days to process your request.
  </li>
  <li>
    <span>What format is the book available in?</span>
    Purchasers of this book can download it in DRM-free PDF, EPUB, or MOBI formats, meaning you'll be able to read on your Kindle (or equivalent), mobile phone, or laptop. We do not currently offer a print version of the book.
  </li>
  <li>
    <span>I am a business. How can I get an invoice?</span>
    Invoices are available to existing customers here.
  </li>
  <li>
    <span>I found an inaccuracy/typo. Where do I report it?</span>
    It's hard to catch all errors in our editing phase, so we warmly welcome any feedback. Please send your errata to <%= link_to "customer service", new_customer_support_request_path %>.
  </li>
</ul>
