<% content_for :title, "Buy #{book.title}" %>
<h1>
  <%= book.title %>
</h1>

<%= render "books/contents/#{book.partial_name}", book: book %>

<div class="row">
  <section class="faq">
    <h2 class="centered">
      Frequently Asked Questions
    </h2>

    <h4>
      How Do I Download?
    </h4>
    <p>
      Immediately after purchase, you will be redirected to a page which contains your downloads. You will also receive an email with a link to this same downloads page.
    </p>

    <h4>
      I am unhappy. What is your refund policy?
    </h4>
    <p>
      We offer a 100% no-questions-asked refund. <%= link_to "Email customer support", new_customer_support_request_path %> to ask to put your refund through. Please note it may take us a few days for us to process your request.
    </p>

    <h4>
      What formats is the book available in?
    </h4>
    <p>
      DRM-free PDF, EPUB, and MOBI formats. Basically this means you'll be able to read the book on your Kindle (or equivalent), your mobile phone, or your laptop. We do not offer a print version of the book.
    </p>

    <h4>
      I am a business. How can I get an invoice?
    </h4>
    <p>
      Invoices are available to existing customers <%= link_to "here", orders_path %>.
    </p>

    <h4>
      I found an inaccuracy/typo. Where do I report it?
    </h4>
    <p>
      It's hard to catch all errors in our editing phase, so we warmly welcome any feedback about errors, no matter how small! Please send your errata to <%= link_to "customer service", new_customer_support_request_path %>.
    </p>
  </section>
</div>
