<h1><%= chapter.title %> (Extract)</h1>
<h2>Chapter <%= chapter.number %> of <%= link_to book.title, book_path(book.slug) %> </h2>
<%= link_to "Show Table Of Contents", "#", onclick: "showTableOfContents()" %>
<ul id="table_of_contents" style="display:none;">
  <% navigation.all_chapters.each do |chp| %>
    <li>
      <%=
        link_to(
          "Chapter #{chp.number} - #{chp.title}",
          book_chapter_path(book.slug, chp.slug)
        )
      %>
    </li>
  <% end %>
</ul>
<%= chapter.content_html.html_safe %>

<hr/>

<p>
  You've reached end of the free preview for this chapter. To keep reading, you can <%= link_to "buy the book", book_path(book.slug) %> and enjoy it in MOBI, EPUB, and Kindle formats.
</p>
<ul>
  <% if navigation.previous_chapter %>
    <li>
      <%= link_to "< Previous: #{navigation.previous_chapter.title}",
        book_chapter_path(book.slug, navigation.previous_chapter.slug) %>
    </li>
   <% end %>
  <% if navigation.next_chapter %>
  <li>
    <%= link_to "Next: #{navigation.next_chapter.title} >",
        book_chapter_path(book.slug, navigation.next_chapter.slug) %>
  </li>
 <% end %>
</ul>
