<h1>Preview of Chapter <%= chapter.number %> of <%= link_to book.title, book_path(book.slug) %> </h1>
<%= link_to "Show Table Of Contents", "#", onclick: "showTableOfContents()" %>
<ul id="table_of_contents" style="display:none;">
  <% all_chapters.each do |chp| %>
    <li>
      <%=
        link_to(
          "Chapter #{chp.number} - #{chp.title}",
          book_chapter_path(book.slug, chp.slug)
        )
      %>
    </li>
  <% end %>
</ul>
<%= chapter.content_html.html_safe %>

<hr/>

<p>
  This is the end of the free preview.
  Please <%= link_to "buy the book", book_path(book.slug) %>.
</p>
<ul>
  <% if previous_chapter %>
    <li>
      <%= link_to "< Previous Chapter: #{previous_chapter.title}",
        book_chapter_path(book.slug, previous_chapter.slug) %>
    </li>
   <% end %>
  <% if next_chapter %>
  <li>
    <%= link_to "Next Chapter: #{next_chapter.title} >",
        book_chapter_path(book.slug, next_chapter.slug) %>
  </li>
 <% end %>
</ul>
