<!DOCTYPE html>
<html>
  <head>
    <title>Confessions - admin panel</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container" id="main-container">
      <p>
        <%= link_to "Store", root_path %>
        <%= link_to "Orders", admin_orders_path %>
        <%= link_to "Books", admin_books_path %>
        <%= link_to "Photos", admin_photos_path %>
        <%= link_to "Articles", admin_articles_path %>
      </p>

      <%= render "layouts/flash" %>
      <%= yield %>
    </div>

  </body>
</html>
