<!DOCTYPE html>
<html>
  <head>
    <title>Confessions</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= TrackingProxyConfiguration.new %>

    <p>
      <%= link_to "Homepage", root_path %>
      <%= link_to "Cart", cart_path %>
      <%= link_to "Articles", articles_path %>
      <%= link_to "Your previous orders", orders_path %>
      <%= link_to "About", about_path %>
    </p>

    <%= render "layouts/flash" %>
    <%= yield %>
    <footer>
      <ul>
        <li><%= link_to "Terms", terms_path %></li>
        <li><%= link_to "Impressum", impressum_path %></li>
        <li><%= link_to "Privacy policy", privacy_policy_path %></li>
        <li><%= link_to "Contact us", new_customer_support_request_path %></li>
    </ul>
    </footer>

  </body>
</html>
