<!DOCTYPE html>
<html>
  <head>
    <title>Confessions</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <p>
      <%= link_to "Homepage", root_path %>
      <%= link_to "Cart", cart_path %>
      <%= link_to "Impressum", impressum_path %>
      <%= link_to "Privacy policy", privacy_policy_path %>
      <%= link_to "Terms and conditions", terms_path %>
      <%= link_to "Contact us", new_customer_support_request_path %>
      <%= link_to "Your previous orders", orders_path %>
    </p>

    <%= render "layouts/flash" %>
    <%= yield %>

  </body>
</html>
