<!DOCTYPE html>
<html>
  <head>
    <title>Jack Kinsella</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <link rel="alternate" type="application/rss+xml" title="Jack Kinsella RSS Feed" href="<%= feed_url(format: "rss") %>">
  </head>
  <body>
    <div class="sidebar-navigation">
      <%= TrackingProxyConfiguration.new %>
      <a href=<%= books_path %> class="unstyled">
        <div class="left-sidebar">
          <h2>
            Books
          </h2>
        </div>
      </a>
      <a href=<%= articles_path %> class="unstyled">
        <div class="right-sidebar">
          <h2>
            Articles
          </h2>
        </div>
      </a>
    </div>
      <ul id="mobile-only-menu" class="slideout-menu">
        <li><a href="#" id="slideout-close">X</a></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Articles", articles_path %></li>
        <li><%= link_to "Books", books_path %></li>
        <li><%= link_to "Cart", cart_path %></li>
        <li><%= link_to "Orders", orders_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", new_customer_support_request_path %></li>
      </ul>
    <div class="container" id="main-container">
      <header>
        <div class="header__website-name" id="header__website-name">
          <div class="header__left">
            <p class="toggle-button slideout-panel">☰</button></p>
          </div>
          <div class="header__mid">
            <h2><%= link_to "Jack Kinsella", root_path, class: "unstyled" %></h2>
          </div>
          <div class="header__right">
            <%= link_to image_tag("fractal.jpg"), "https://www.youtube.com/watch?v=KC5h_TZRK9E" %>
          </div>
        </div>
      </header>
      <%= render "layouts/flash" %>
      <div class="layout__main-content">
        <%= yield %>
      </div>
      <footer>
        <div class="footer__section">
          <div class="footer__section-content">
            <h4>Shopping</h4>
            <ul>
              <li><%= link_to "Your previous orders", orders_path %></li>
              <li><%= link_to "Cart", cart_path %></li>
              <li><%= link_to "Contact", new_customer_support_request_path %></li>
            </ul>
          </div>
        </div>
        <div class="footer__section">
          <div class="footer__section-content">
            <h4>Follow</h4>
            <ul class="footer__link-list">
              <li><%= link_to "@jackkinsella", "https://twitter.com/jackkinsella" %></li>
              <li>
                <%= link_to "Facebook", "https://www.facebook.com/jackkinsellawrites" %>
              </li>
              <li><%= link_to "RSS", feed_url(format: "rss") %></li>
            </ul>
            <p><%= render "layouts/mailchimp_signup_form" %></p>
          </div>
        </div>
        <div class="footer__section footer__final-section">
          <div class="footer__section-content">
            <h4>Legal</h4>
            <ul>
              <li><%= link_to "Terms", terms_path %></li>
              <li><%= link_to "Impressum", impressum_path %></li>
              <li><%= link_to "Privacy policy", privacy_policy_path %></li>
            </ul>
            <div class="footer__copyright">
              <p>All rights reserved. All materials on this website are copyrighted by Jack Kinsella unless stated otherwise.</p>
            </div>
          </div>
        </div>
      </footer>

    </div>
  </body>
</html>
